<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.net.techsoft.techsoftmobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProdutosVenda"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Login" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Configs"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Configs" />
            </intent-filter>
        </activity>
        <activity
            android:name="layout.TesteSettings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ClienteVenda"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuInicial"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ConsultaProd"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultaClie"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalhesCliente"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultaVend"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultaVendDetalhes"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inicial"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sync"></activity>
    </application>

</manifest>